record.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/record"
    xmlns="http://example.com/record"
    elementFormDefault="qualified">

    <xs:element name="Record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="xs:int" />
                <xs:element name="Data" type="xs:string" />
                <xs:element name="Timestamp" type="xs:dateTime" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
